In [5]:
#sqllite
import sqlite3
import pandas as pd

files = ['savedataOS.db', 'savedataWP.db']

# from the matches table get all the matches, Get the "t1", "t2", "t1oo", "t2oo", and "date_winner"
def get_matches(files):
  df = pd.DataFrame()
  for file in files:
    conn = sqlite3.connect(file)
    query = "SELECT t1, t2, t1oo, t2oo, date_winner FROM match"
    df = df.append(pd.read_sql_query(query, conn))
    conn.close()
  return df
  
df = get_matches(files)
display(df)

C:\Users\maxro\AppData\Local\Temp\ipykernel_9052\2141159531.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_sql_query(query, conn))
C:\Users\maxro\AppData\Local\Temp\ipykernel_9052\2141159531.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.read_sql_query(query, conn))

,t1,t2,t1oo,t2oo,date_winner
0,ValorsGG,24Haven,1.11,5.02,2022-01-25 19:53:02.215532
1,ex-FLICKBAITERS,Third Impact,1.44,2.48,2022-01-26 01:05:19.012369
2,Built By Gamers Academy,Zero MarksMen Silver,1.2,3.75,2022-01-26 00:56:31.898648
3,Aspyre,Team Reckaroo,1.67,2.0,2022-01-26 01:02:31.354859
4,SoaR,Zero MarksMen Black,1.25,3.35,2022-01-26 00:20:04.412449
...,...,...,...,...,...
182,KRÜ Esports,FURIA,1.58,2.2,2024-04-08 19:06:46.996075
183,Gen.G,Talon Esports,1.08,6.3,2024-04-09 04:51:52.246828
184,T1,DetonatioN FocusMe,1.12,5.3,2024-04-09 08:26:46.502741
185,Karmine Corp,FUT Esports,1.62,2.15,2024-04-10 12:47:17.864152
186,Team Vitality,Team Heretics,2.9,1.35,2024-04-10 16:11:53.768008